html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

section {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
